<script setup lang="ts">
import { ref } from "vue";

const dialog = ref(false);
const title = ref("Title");
const desc = ref("Desc");
const ok = ref("OK");
const cancel = ref("Cancel");

let onOK: (value: unknown) => void;
let onCancel: (reason?: any) => void;

const openDialog = (
  t: string,
  d: string,
  okay: string = "OK",
  can: string = "Cancel"
) => {
  title.value = t;
  desc.value = d;
  ok.value = okay;
  cancel.value = can;
  dialog.value = true;
  return new Promise((resolve, reject) => {
    onOK = resolve;
    onCancel = reject;
  });
};

defineExpose({ openDialog });

function dialogCancel() {
  dialog.value = false;
  onCancel("Cancel");
}

function dialogOK() {
  dialog.value = false;
  onOK("OK");
}
</script>

<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent width="auto">
      <v-card>
        <v-card-title class="text-h5">
          {{ title }}
        </v-card-title>
        <v-card-text>{{ desc }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green-darken-1" variant="text" @click="dialogCancel">
            {{ cancel }}
          </v-btn>
          <v-btn color="green-darken-1" variant="text" @click="dialogOK">
            {{ ok }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
